.anka-panel {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
}

.anka-panel__header {
  padding: 3px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--panel-header-color-background);
  display: flex;
  align-items: center;
}

.anka-panel__content-container {
  background-color: var(--panel-content-color-background);
  flex: 1;
  position: relative;
  overflow-y: auto;
}

.anka-panel__content {
  width: 100%;
  box-sizing: border-box;
}
