.anka-designer {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.anka-designer__content {
  flex: 1;
  display: flex;
}

.anka-designer__content .anka-report-item {
  border: 1px dotted var(--color-border);
  cursor: pointer;
}
