.anka-toolbar {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
}

.anka-toolbar-horizontal {
  height: 30px;
  padding-bottom: 1px;
  flex-direction: row;
  border-bottom: 1px solid var(--color-border);
}

.anka-toolbar-vertical {
  width: 34px;
  padding-left: 1px;
  flex-direction: column;
  border-right: 1px solid var(--color-border);
}
