.anka-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-background-light);
}

.anka-tabs__header {
  display: flex;
  border-bottom: 1px solid var(--color-border);
}

.anka-tabs__content-container {
  flex: 1;
  position: relative;
  overflow-y: auto;
}

.anka-tabs__content {
  width: 100%;
  box-sizing: border-box;
}
