.anka-menu {
  padding: 3px;
  display: inline-block;
  user-select: none;
}

.anka-menu-button {
  padding: 1px 3px;
  background-color: var(--color-background);
  filter: brightness(85%);
  border: 1px solid var(--color-border);
  cursor: pointer;
}

.anka-menu-button:hover {
  filter: brightness(90%);
}
