.anka-toolbar-button {
  background-color: var(--button-color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--button-color-border);
  user-select: none;
  cursor: pointer;
}

.anka-toolbar-horizontal .anka-toolbar-button {
  margin-left: 3px;
}

.anka-toolbar-vertical .anka-toolbar-button {
  margin-top: 3px;
}
