.anka-tree-list .icon {
  width: 15px;
  display: inline-block;
  cursor: pointer;
}

.anka-tree-list .label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.anka-tree-list .children {
  padding-left: 10px;
}
