.anka-tree-list {
  padding: 3px;
}

.anka-tree-list .header {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  background-color: var(--tree-item-color-background);
  border: 1px solid var(--tree-item-color-border);
  border-radius: 3px;
}

.anka-tree-list .header:hover {
  filter: brightness(95%);
}

.anka-tree-list .icon {
  width: 15px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.anka-tree-list .icon.hover {
  margin-left: 3px;
  padding: 0 2px;
}

.anka-tree-list .icon.hover:hover {
  background-color: var(--color-background-dark);
}

.anka-tree-list .label {
  padding: 2px 6px;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  user-select: none;

  flex: 1;
}

.anka-tree-list .children {
  padding-left: 10px;
}
