.anka-report-section {
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.anka-report-section__header {
  padding: 3px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  user-select: none;
  font-size: 13px;
}

.anka-report-section__content {
  background: conic-gradient(
    #eeeeee 0% 25%,
    #dddddd 0% 50%,
    #eeeeee 0% 75%,
    #dddddd 0%
  );
  background-size: 20px 20px;
  position: relative;
  overflow: hidden;
}
