.anka-report-section {
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.anka-report-section__header {
  padding: 3px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  user-select: none;
}

.anka-report-section__content {
  background-image: 
    linear-gradient(var(--color-paper-line-large) 1.5px, transparent 1.5px),
    linear-gradient(90deg, var(--color-paper-line-large) 1.5px, transparent 1.5px),
    linear-gradient(var(--color-paper-line-small) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-paper-line-small) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px, 20px;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-color: var(--color-paper-background);
  position: relative;
  overflow: hidden;
}
