.anka-toolbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-button);
  user-select: none;
  cursor: pointer;
}

.anka-toolbar-horizontal .anka-toolbar-button {
  margin-left: 3px;
}

.anka-toolbar-vertical .anka-toolbar-button {
  margin-top: 3px;
}
