.anka-sidebar {
  border-left: 1px solid var(--color-border);
  background-color: var(--color-background);
  position: relative;
}

.anka-sidebar__content {
  width: 100%;
  height: 100%;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.anka-sidebar__content .anka-tabs__content-container > div {
  position: absolute;
}

.anka-sidebar__content > .anka-panel {
  flex: 1;
}

.anka-sidebar__content .anka-panel__content-container > div {
  padding: 1px;
  position: absolute;
}
