.anka-report {
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  background-color: var(--color-background);
  overflow: hidden;
  position: absolute;
  outline: none;
}
