.anka-property-grid-row {
  display: flex;
}

.anka-property-grid-row:hover {
  background-color: var(--property-grid-row-hover-color-background);
}

.anka-property-grid-row:not(:first-child) {
  border-top: 1px solid var(--property-grid-row-color-border);
}

.anka-property-grid-row__label {
  width: 90px;
  border-right: 1px solid var(--property-grid-row-color-border);
  padding: 2px;
}

.anka-property-grid-row__editor-container {
  flex: 1;
  padding: 2px;
}
